html, body {
  height: 100%;
}

.container-fluid {
  height: auto;
  min-height: 80%;
}

.app-body {
  margin-bottom: 100px;
}

.mid {
  margin: 0 auto;
}

.width-50 {
  width: 50%;
}

/* Forms */
.account-form {
  margin-top: 50px;
}

.footer {
  background: #312c32;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}