.app-body {
  margin-bottom: 100px;
}

.mid {
  margin: 0 auto;
}

.width-50 {
  width: 50%;
}

.footer {
  background: #312c32;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}